body {
    background-color: #0f0f0f !important;
}


.card {
    background-color: #1c1c1cc3;
    color: white;
    box-shadow: 0 0 5px white !important;
    border-color: white;
    

}

.darkmode {
    background-color: #0f0f0f;
    color: white;
    border-color: white;
    box-shadow: 0 0 5px white;
}

input,
select,
textarea {
    background-color: rgba(45, 45, 45, 0.644) !important;
    color: white !important;
}

span {

    color: white !important;
}

small,
.small,
[aria-label] {
    color: white;
}

.text-muted {
    color: #ccc !important;
}

i {
    color: white !important;
    background-color: transparent;
}

button{
    background-color: rgba(45, 45, 45, 0.644) !important;
    color: rgb(255, 255, 255) !important;
    border-color: white !important;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.852);
    color: white;
    border-color: white;
}

.start-btn {
    background-color: rgba(45, 45, 45, 0.644) !important;
    color: rgb(255, 255, 255) !important;
}


::-webkit-scrollbar-track {
    background: #b0b0b0;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 6px;
    border: 2px solid #414141;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #222 #474747;
    /* thumb track */
}

/* Optional nur im Darkmode (falls class auf <html> oder <body>): */
.darkmode,
.darkmode * {
    scrollbar-color: #222 #000;
}