
<div class="modal fade" id="modal_loeschen" tabindex="-1" role="dialog" aria-labelledby="modal_loeschen_Title" 
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_loeschen_Title">Infoterminal Löschen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <table class="table table-hover position-relative">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>IP</th>
                            <th>Titel</th>
                        </tr>
                    </thead>
                    <tbody id="tabelleDelete">
                          
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="Beziehungen.remove_generate(CardObj.selectedID, Beziehungen.temp_list_remove, 'delete_Relation')">Löschen</button>
                </div>
        </div>
    </div>
</div>